@import "./components/_font.css";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*définition de classes pour le texte (attention couleur à adapter)*/
/*tags en 15*/
.font-tags {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
/*AC et outils et dates en 15*/
.font-italic-15 {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
/*titres projets bold 35 px*/
.font-title-projet {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}
/*texte entête 20px regular*/
.font-txt-entete-20 {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
/*texte entête 35 px regular*/
.font-txt-entete-35 {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}
/*texte entête 35 px semibold italic*/
.font-txt-entete-35-sb {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}
/*texte projets regular 18*/
.font-txt-18 {
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
}
/*boutons semibold 20*/
.font-bouton {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
/*header + footer 20 medium*/
.font-header-footer {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}
/*citations 20 italic regular*/
.font-quote {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}


/*on remet tout à 0*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*variables de couleur*/
:root {
  --un-beige: #EDEADC;
  --un-rouge: #D5561D;
  --deux-rose: #FEC9CE;
  --deux-rouge: #CE3C2F;
  --trois-bleu: #52B4CB;
  --trois-jaune: #FFD642;
  --quatre-vert: #0E4D38;
  --quatre-rose: #F9B3BD;
}

/* ##################
Génération des slides
#################### */
/* scroll-snap : faire des slides sur la page d'acceuil */
html {
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

/* section : style de chaque slide */
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
}


/* ###############
Images de la page
################ */
.imageLogo {
  height: 7vh;
  margin: 0vh 3vw;
  position: absolute;
}

.imageErable {
  height: 80vh;
  width: auto;
  position:fixed;
  bottom:0px;
  left: -5vw;
  z-index: 100;
}

/* #########
Fil d'Ariane
########### */
.container-ariane {
  z-index: 1000;
  position: fixed;
  height: 99vh;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
}
.filArianeVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-right: 2vw;
}

.etape {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  position: relative;
  display: block;
  text-decoration: none;
}

.etape::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 80px;
  background-color: gray;
  margin-top: 10px;
}

.etape:last-child::after {
  display: none;
}

.etape.active-slide1 {
  background-color: var(--un-rouge);
}
.etape.active-slide2 {
  background-color: var(--deux-rouge);
}
.etape.active-slide3 {
  background-color: var(--trois-jaune);
}
.etape.active-slide4 {
  background-color: var(--quatre-rose);
}


/* ####
Footer
##### */
footer>a {
  color: black;
}
footer {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right : 20px;
}


/* #######################
Commun à toutes les slides
######################### */
.textSlide {
  position: relative;
  top: 30%;
  left: 57%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
}
.textSlide>p {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 35px;
}
.textSlide>a {
  margin-top: 60px;
  text-decoration: none;
}

/* ###########
Première slide
############# */
#slide1 {
  background-color: var(--un-beige);
}
#bouton1 {
  width: fit-content;
  background-color: var(--un-rouge);
  color: var(--un-beige);
  border-radius: 25px 25px 25px 25px;
  padding: 7px 17px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#bouton1:hover {
  box-shadow: inset 0 100px 0 0 #A1451C;
}


/* ###########
Deuxième slide
############# */
#slide2 {
  background-color: var(--deux-rose);
}
#bouton2 {
  width: fit-content;
  background-color: var(--deux-rouge);
  color: var(--deux-rose);
  border-radius: 25px 25px 25px 25px;
  padding: 7px 17px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#bouton2:hover {
  box-shadow: inset 0 100px 0 0 #992C23;
}


/* ############
Troisième slide
############## */
#slide3 {
  background-color: var(--trois-bleu);
}
#slide3>div>p, #slide4>div>p {
  color: white;
}
#bouton3 {
  width: fit-content;
  background-color: var(--trois-jaune);
  color: var(--trois-bleu);
  border-radius: 25px 25px 25px 25px;
  padding: 7px 17px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#bouton3:hover {
  box-shadow: inset 0 100px 0 0 #FFF4CD;
}


/* ############
Quatrième slide
############## */
#slide4 {
  background-color: var(--quatre-vert);
}
#bouton4 {
  width: fit-content;
  background-color: var(--quatre-rose);
  color: var(--quatre-vert);
  border-radius: 25px 25px 25px 25px;
  padding: 7px 17px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#bouton4:hover {
  box-shadow: inset 0 100px 0 0 #FEE7EA;
}
