@import "./components/_font.css";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*définition de classes pour le texte (attention couleur à adapter)*/
/*tags en 15*/
.font-tags {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
/*AC et outils et dates en 15*/
.font-italic-15 {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
/*titres projets bold 35 px*/
.font-title-projet {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}
/*texte entête 20px regular*/
.font-txt-entete-20 {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
/*texte entête 35 px regular*/
.font-txt-entete-35 {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}
/*texte entête 35 px semibold italic*/
.font-txt-entete-35-sb {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}
/*texte projets regular 18*/
.font-txt-18 {
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
}
/*boutons semibold 20*/
.font-bouton {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
/*header + footer 20 medium*/
.font-header-footer {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}
/*citations 20 italic regular*/
.font-quote {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}


/*on remet tout à 0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*variables de couleur*/
:root {
  --beige: #EDEADC;
  --rouge: #D5561D;
}

/*gestion bar de nav*/
header {
  position: fixed;
  z-index: 100;
  background-color: var(--beige);
  height: 4em;
  width: 99vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header>a>img {
  height: 7vh;
  margin: 0vh 3vw;
}
nav>a {
  color: var(--rouge);
  text-decoration: none;
  margin: 0vh 3vw;
}

/*fond*/
main {
  background-color: var(--beige);
  height: 130vh;
}

/*arbre*/
#erable {
  height: 115vh;
  transform: scaleX(-1);
  position: absolute;
  top: 15vh;
  right: 0;
}

/*titre*/
#titre {
  width: 29vw;
  margin-bottom: 13vh;
}

/*texte*/
.contenu {
  position: relative;
  top: 30vh;
  left: 14vw;
}
em {
  font-weight: 700;
  font-style: normal;
}
.texte {
  margin: 40px 0px;
  width: 400px;
}
#deux {
  width: 800px;
}
.texte>p {
  margin: 5px 0px;
}
br {
  margin: 2px 0px;
}

/*footer*/
footer {
  position: absolute;
  top: 130vh;
  background-color: black;
  color: white;
  width: 99vw;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
footer>p {
  align-self: center;
}
footer>p>a {
  color: white;
}
footer>p:first-of-type {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 15px;
}
footer>p:nth-of-type(3) {
  margin-top: 50px;
  margin-bottom: 30px;
}
