@import "./components/_font.css";

/*on remet tout à 0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*variables de couleur*/
:root {
  --bleu: #52B4CB;
  --jaune: #FFD642;
}

/*gestion bar de nav*/
header {
  position: fixed;
  z-index: 100;
  background-color: var(--bleu);
  height: 4em;
  width: 99vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header>a>img {
  height: 7vh;
  margin: 0vh 3vw;
}
nav>a {
  color: var(--jaune);
  text-decoration: none;
  margin: 0vh 3vw;
}