@import "../style/components/_font.css";

/*on remet tout à 0*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*variables de couleur*/
:root {
  --beige: #EDEADC;
  --rouge: #D5561D;
}

/*gestion bar de nav*/
header {
  position: fixed;
  z-index: 100;
  background-color: var(--beige);
  height: 4em;
  width: 99vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header>a>img {
  height: 7vh;
  margin: 0vh 3vw;
}
nav>a {
  color: var(--rouge);
  text-decoration: none;
  margin: 0vh 3vw;
}

/*entête : titre et photo*/
.entete {
  height: 110vh;
  width: 99vw;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
}
.entete>div {
  align-self: center;
  position: relative;
  width: 42vw;
  top: 350px;
}
.entete>img {
  width: 99vw;
  z-index: 10;
}

/*gestion chemin fond*/
.taille-page {
  width: 99vw;
  display: flex;
  flex-direction: column;
}
.track {
  width: 1200px;
  align-self: center;
  position: absolute;
  top: 122vh;
}
.contenu {
  width: 1200px;
  align-self: center;
  z-index: 10;
  position: relative;
  top: 115vh;
}

/*texte intro*/
.intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.intro>div:first-child {
  color: var(--rouge);
}
.txt-indent {
  text-indent: 200px;
}
.intro>div:nth-of-type(2) {
  display: flex;
  flex-flow: row nowrap;
  gap: 60px;
  margin-left: 225px;
  margin-top: 30px;
}
.intro>img {
  width: 175px;
  position: absolute;
  top: 300px;
  left: 0;
}

/*poterie*/
#pot-texte>p {
  margin-top: 10px;
}
#pot-texte>p>em, #pot-texte>p:nth-of-type(2) {
  color: var(--rouge);
}
#pot-texte>p:nth-of-type(3) {
  width: 450px;
}
#pot-texte {
  width: 450px;
}
#pot-galerie {
  display: flex;
  flex-flow: column wrap;
  height: 400px;
  width: 400px;
  gap: 10px;
  justify-content: flex-start;
  align-content: center;
}
#pot-galerie>img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#pot-galerie>img:nth-of-type(1), #pot-galerie>img:nth-of-type(2) {
  position: relative;
  top: 40px;
}
.poterie {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 200px;
  justify-content: center;
  gap: 125px;
}

/*nasa ref*/
#nasa {
  width: 200px;
  position: relative;
  left: 960px;
  top: -85px;
}

/*peinture*/
#paint-texte {
  width: 460px;
}
#paint-texte>p {
  margin-top: 10px;
}
#paint-texte>p:nth-of-type(1), #paint-texte>p:nth-of-type(3) {
  color: white;
}
#paint-texte>p>em, #paint-texte>p:nth-of-type(2) {
  color: var(--beige);
}
#carrousel {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr auto;
  margin-left: 80px;
  width: 400px;
  height: 300px;
  /*position: relative; /*permet la superposiion*/
  align-items: center; /*centrer les éléments selon la main axis*/
  justify-items: center; /*centrer les éléments selon le cross-axis*/
}
#carrousel>img {
  display: none;
  height: 220px;
  width: auto;
  grid-column: 2;
  grid-row: 1;
}
#carrousel>p {
  text-align: center;
  cursor: pointer;
  color: black;
  font-size: 30px; 
}
#carrousel>p:first-of-type {
  grid-column: 1;
  grid-row: 1;
}
#carrousel>p:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1;
}
#carrousel>div{
  text-align: center;
  letter-spacing: 5px; /*espace entre les 3 cercles*/
  grid-column: 2;
  grid-row: 2;
}
span {
  display: inline-block; /*afin de les placer en ligne mais avoir pp de taille*/
  border-radius: 100%; /*tracer un cercle*/
  background-color: rgb(221, 221, 221);
  width: 10px;
  height: 10px;
  cursor: pointer;
}
span:hover, span.rempli {
  background-color: black;
}
#carrousel>img.dessus {
  display: block;
}
.peinture {
  display: flex;
  flex-flow: row nowrap;
  gap: 125px;
}

/*dessin*/
#draw-texte>p {
  margin-top: 10px;
}
#draw-texte>p>em, #draw-texte>p:nth-of-type(2) {
  color: var(--rouge);
}
#draw-texte {
  width: 350px;
}
#draw-galerie {
  display: flex;
  flex-flow: column wrap;
  height: 400px;
  width: 400px;
  gap: 20px;
  justify-content: flex-start;
  align-content: center;
}
#draw-galerie>img {
  width: 140px;
  height: auto;
  position: relative;
}
#draw-galerie>img:nth-of-type(2) {
  top: -50px;
  left: 80px;
  z-index: 5;
}
#draw-galerie>img:nth-of-type(3) {
  top: -50px;
  z-index: 4;
}
#draw-galerie>img:nth-of-type(4) {
  top: -90px;
  left: 110px;
}
#draw-galerie>img:nth-of-type(5) {
  width: 90px;
  height: auto;
  top: -70px;
  left: 40px;
}
.dessin {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 172px;
  margin-left: 30px;
  justify-content: center;
}

/*montage*/
.montage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 150px;
}
.montage>img {
  width: 450px;
  height: auto;
  position: relative;
  top: -120px;
  right: 40px;
  transform: rotate(15deg);
}
#montage-texte {
  width: 550px;
  margin-top: 20px;
  margin-right: 160px;
}
#montage-texte>p {
  margin-top: 10px;
}
#montage-texte>p>em, #montage>p:nth-of-type(2) {
  color: var(--rouge);
}
#videos {
  margin-top: 25px;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  gap: 85px;
  justify-content: center;
}

/*stephen ref*/
#stephen {
  width: 150px;
  position: relative;
  transform: rotate(35deg);
  top: -50px;
  left: 50px;
}

/*arts p*/
#feuilles-arts {
  width: 150px;
  position: relative;
  left: 850px;
  top: 50px;
  z-index: 5;
  transform: rotate(70deg);
}
#arts-texte {
  width: 400px;
  margin-top: 20px;
  margin-right: 160px;
}
#arts-texte>p {
  margin-top: 10px;
}
#arts-texte>p>em, #arts>p:nth-of-type(2) {
  color: var(--rouge);
}
.arts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}
#arts-galerie {
  display: flex;
  flex-flow: column nowrap;
}
#arts-galerie>img {
  width: 400px;
  position: relative;
  top: -50px;
}
#arts-galerie>img:nth-of-type(2) {
  height: 175px;
  object-fit: cover;
  margin-top: 20px;
}

/*conclu*/
.conclu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 70px;
  margin-right: 80px;
}
.conclu>div:first-child {
  color: var(--rouge);
}
.txt-indent {
  text-indent: 235px;
}

/*citation*/
#citation {
  width: 600px;
}
