@import "./components/_font.css";

/*variables de couleur*/
:root {
  --beige: #EDEADC;
  --rouge: #D5561D;
}

/*on remet tout à 0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*gestion bar de nav*/
header {
  position: fixed;
  z-index: 100;
  background-color: var(--beige);
  height: 4em;
  width: 99vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header>a>img {
  height: 7vh;
  margin: 0vh 3vw;
}
nav>a {
  color: var(--rouge);
  text-decoration: none;
  margin: 0vh 3vw;
}

/*entête : titre et photo*/
.entete {
  height: 110vh;
  width: 99vw;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.entete>div {
  align-self: center;
  position: relative;
  width: 42vw;
  top: 350px;
}
.entete>img {
  width: 99vw;
  z-index: 10;
}

/*gestion chemin fond*/
.taille-page {
  width: 99vw;
  display: flex;
  flex-direction: column;
}
.track {
  width: 1200px;
  align-self: center;
  position: relative;
  /*top: -110vhpx;*/
}
.contenu {
  width: 1200px;
  align-self: center;
  z-index: 10;
}
